<%= react_component 'UserShow', user: @user %>

<%= form_for :user, url: "/users/#{current_user.id}", html: { multipart: true } do |f| %>
  <input type="hidden" name="_method" value="put">
  <input type="file" name="user[image]" id="user_image" class="inputfile" data-multiple-caption="{count} files selected" multiple />
  <label for="user_image"><span>Choose a file</span></label>
  <input type="submit" id="image_submit" value="Create">
<% end %>

<img src="<%= current_user.image.url %>"/>

<script type="text/javascript">
  var inputs = document.querySelectorAll( '.inputfile' );
Array.prototype.forEach.call( inputs, function( input )
{
  var label  = input.nextElementSibling,
    labelVal = label.innerHTML;

  input.addEventListener( 'change', function( e )
  {
    var fileName = '';
    if( this.files && this.files.length > 1 )
      fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
    else
      fileName = e.target.value.split( '\\' ).pop();
    if( fileName ) {
      label.querySelector( 'span' ).innerHTML = fileName;
    }
    else{
      label.innerHTML = labelVal;
    }
  });
});
</script>
