/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  /*border: 1px dotted;*/
  width: 70%;
  margin: auto;
  padding: 10px;
  font-family: sans-serif;
  font-size: 20px;
  min-width: 400px;
}

input[type="checkbox"] {
  display: inline-block;
  width: 10px;
  height: 10px;
  /*border: 1px solid;*/
  /*margin: 10px;*/
  margin-right: 5px;
  margin-left: 10px;
  padding: 10px;
  text-align: left;
  vertical-align: top;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #cc99ff;
  /*margin: auto;*/
}

ul {
  list-style: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-onboarding-container {
  /*border: 1px dotted;*/
  width: 50%;
  margin: auto;
  padding: 10px;
  min-width: 400px;
}

.form-container {
  /*border: 1px solid;*/
  width: 100%;
 /* margin: auto;*/
  /*padding: 5px;*/
}

.form-container h3 {
  /*border: 1px solid;*/
  width: 65%;
  margin: auto;
  padding: 5px;
  text-align: center;
  border-bottom: 1px dotted;
}

.edit-form {
  /*border: 1px dotted;*/
  margin: 5px;
  /*text-align: center*/
}

.form-input {
  /*border: 1px dotted;*/
  /*text-align: center;*/
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
}

.form-input label {
  color: #ADADAD;
}

.form-input .check {
  color: black;
}

.form-input .age {
  width: 100%;
  height: 40px;
  font-size: 20px;
  t
}

.form-input textarea {
  width: 99%;
  height: 120px;
  font-size: 20px;
}

.form-input select {
  width: 100%;
  height: 40px;
  font-size: 20px;
}

.form-input option {
  /*text-align: center;*/
}

.min-max {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  height: 40px;
  font-size: 20px;
  /*margin-left: 4px;*/
}

#btwn {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 6px;
  margin-left: 6px;
}



/* richie css changes */
  .match-cell {
    margin-bottom: 20px;
    border: 1px solid grey;
  }
  .player-container {
    width: 350px;
    display: inline-block;
  }
  .playlist-owner {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: center;
    background-color: #212121;
    color: white;
  }
  .dropdown {
    vertical-align: top;
    padding: 10px;
    width: 550px;
    display: inline-block;
  }
  .prof-pic {
    height: 150px;
    width: 150px;
    vertical-align: top;
    background-color: #9933ff;
    display: inline-block;
  }
  .about {
    height: 150px;
    width: 350px;
    margin-left: 20px;
    display: inline-block;
  }
  .chat{
    width: 200px;
  }
  .buttons-container {
    margin-top: -5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: center;
    background-color: #212121;
    color: white;
  }
  .like{
    display: inline-block;
    width: 100px;
  }
  .color-key {
    padding: 10px;
    background-color: #212121;
    color: white;
  }
  .purple {
    color: #9933ff;
  }
  .blue {
    color: #0099cc;
  }
  .green {
    color: #00b36b;
  }
  .yellow {
    color: #ffff00;
  }
  .red {
    color: #ff0000;
  }
/* end richie css changes */

/* user profile */
