/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  position: relative;
  margin-top: 50px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: #e2e1e0;
}

#hidden {
  padding-bottom: 10%
}

#yield {
  margin-top: 30px;
  width: 70%;
  margin: auto;
}

#title {
  /*border: 1px solid;*/
  /*padding-bottom: 10px;*/
  /*margin: auto;*/
  width: 70%;
  min-width: 400px;
  float: bottom;
  color: ghostwhite;
  display: inline-block;
}

#title h2 {
  margin: 0;
  padding: 0;
  /*display: inline-block;*/

}

#title p {
  margin: 0;
  padding: 0;
  padding-left: 5px;
}

h1 {
  font-size:112px;
  font-weight:300;
  letter-spacing:-5px;
  line-height:128px;
}
h2 {
  font-size:56px;
  font-weight:400;
  line-height:64px;
}
h3 {
  font-size:45px;
  font-weight:400;
  line-height:64px;
}
h4 {
  font-size:34px;
  font-weight:400;
  line-height:52px;
}
p {
  font-size:16px;
  font-weight:400;
  line-height:24px;
}

/*profile-image*/
/*.profile-image {
  background: red;
  border: 1px solid;
  text-align: center;
}*/

input[type="checkbox"] {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

input[type="submit"] {
  width: 100%;
  height: 30px;
  font-size: 14px;
  border-radius: 2px;
  background-color: #FF6138;
  outline: 0;
  outline-offset: 0;
  border: 0;
  color: ghostwhite;
  font-weight: 100;
}

ul {
  list-style: none;
}

/*image submit form*/
/*<%= f.file_field :image %>*/
#image_submit {
  width: 30%;
}

#user_image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label[for=user_image] {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

label[for=user_image],
label[for=user_image] {
    background-color: red;
}

label[for=user_image] {
  cursor: pointer; /* "hand" cursor */
}

label[for=user_image] * {
  pointer-events: none;
}


/*profile edit form*/
.form-onboarding-container {
  width: 50%;
  margin: auto;
  padding: 10px;
  min-width: 400px;
}
.profile-info .form-container {
  padding-top: 5px;
  width: 100%;
  margin: auto;
}
.form-container h4 {
  margin-top: 15px;
  border-bottom: .5px solid;
  margin-bottom: 10px;
}
.form-input {
  margin-bottom: 10px;

}
.form-input label {
  vertical-align:sub;
  color: #ADADAD;
}
.form-input .check {
  color: black;
}
.form-input .age {
  height: 20px;
  font-size: 14px;
}
.form-input textarea {
  width: 95%;
  height: 120px;
  font-size: 14px;
  padding: 8px;
}
.form-input select {
  width: 99%;
  height: 24px;
  font-size: 14px;
}
.form-input option {
}
.min-max {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  height: 20px;
  font-size: 14px;
}
#btwn {
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}

/* richie css changes */
  .push-me {
    width: 30%;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #FF3D00;
    margin-top: 0;
  }
  .match-cell {
    margin-bottom: 20px;
    border: 1px solid grey;
    /*float: left;*/
  }
/* match cell */
.player-container {
  display: inline-block;
  width: 400px;
  height: 300px;
  margin: 1rem;
  background: ghostwhite;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.playlist-owner {
  display: block;
  margin: 46px auto -5px auto;
  padding-top: 26px;
  padding-bottom: 20px;
  width: 298px;
  text-align: center;
  background-color: #717499;
  color: ghostwhite;
  border: 2px solid darkgray;
  font-size: 14px;
}

#tier-1 {
  /*background: #2E0927;*/
}

#tier-2 {

}

#matched-pair {

}

.iframe {
  display: block;
  text-align: center;
  margin: auto;
  width: 300px;
}
.buttons-container {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: -10px;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 298px;
  background-color: #717499;
  color: white;
  border: 2px solid darkgray;
  font-size: 14px;
}
.like {
  float: none;
  display: inline-block;
  padding: 0px 10px;
  width: 110px;
}
.push-me {
  border-radius: 3px;
  background-color: #f6774f;
}

/* dropdown */
.dropdown {
  border: 1px dotted;
  vertical-align: top;
  padding: 10px;
  width: 550px;
  display: inline-block;
  margin-top: 0;
}


.prof-pic {
  height: 150px;
  width: 150px;
  vertical-align: top;
  background-color: #9933ff;
  display: inline-block;
}
.about {
  height: 150px;
  width: 350px;
  margin-left: 20px;
  display: inline-block;
}
.chat{
  width: 200px;
}
.color-key {
  padding: 10px;
  background-color: #212121;
  color: white;
}
.purple {
  color: #9933ff;
}
.blue {
  color: #0099cc;
}
.green {
  color: #00b36b;
}
.yellow {
  color: #ffff00;
}
.red {
  color: #ff0000;
}
/* end richie css changes */

/* user show */
.profile-container {
/*  background: url('') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
  position: relative;
  margin-top: 150px;*/
}

.profile-info {
  /*margin:auto;*/
  width: 525px;
  min-width: 400px;
  margin-right: 10px;
  display:inline-block;
  vertical-align: top;
  background: ghostwhite;
  padding: 30px 10px 107px 10px;
  font-size: 14px;
  border: 3px solid;
  border-image: linear-gradient(#FF3D00, #9575CD) 10;
}

.profile-info #username {
  border-bottom: .5px solid;
  margin-bottom: 5px;
}
.profile-info p {
  text-indent: 5px;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 2px;
}
#block-button {
  border: transparent;
  background: transparent;
  margin-top: 5px;
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 8px;
  border-bottom: 2px solid;
  border-image: linear-gradient(#FF3D00, #9575CD) 10;
  font-size: 14px;
}

/*Birdlist*/
#birdlist {
  padding: 30px 10px 30px 10px;
  min-width: 400px;
  border: 3px solid;
  border-image: linear-gradient(#FF3D00, #9575CD) 10;
  background: ghostwhite;
  width: 525px;
  /*margin-top: 10%;*/
  display: inline-block;
  vertical-align: top;
}

#current-list {
  /*border: 1px solid;*/
  margin: 0;
  padding-left: 10%;
}

#search {
  /*border: 1px solid;*/
  width: 60%;
  margin:auto;
}

#search input {
  width: 300px;
  height: 30px;
  margin: auto;
  font-size: 20px;
  margin-bottom: 2px;
}

#search input[type="submit"] {
  width: 306.5px;
  height: 30px;
  margin: auto;
  font-size: 20px;
  margin-bottom: 0px;
  cursor: pointer;
}

.alter-list-link a {
  /*border: 1px solid;*/
  margin-right: 180px;
  margin-left: 5px;
  padding-bottom: 20px;
  float: top;
  color: ghostwhite;
  cursor: pointer;
}

.cell {
  border: 1px solid;
  max-width: 300px;
  min-width: 300px;
  margin: auto;
  margin-right: 115px;
  margin-bottom: 10px;
  background-color:  #292929;
  /*^^^this is as close to the exact color of the spotify player as I''ve found - do not change^^^*/
}

/* navbar */
#hide-text {
  color: #212121;
}


.navbar {
  margin-bottom: 50px;
  /*padding-left: 30px*/

}
.navbar ul {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #212121;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    border-bottom: 2px solid;
    border-image: linear-gradient(#9575CD, #FF3D00) 30;

}
.navbar li {
 float: right;
 /*padding: 70px 10px 14px 16px;*/
}
.navbar li a {
    display: block;
    color: ghostwhite;
    /*padding: 5px 5px 5px 5px;*/
    padding: 70px 10px 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #111;
}
